* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.sidebar_logo {
    position: relative;

    width: 220px;
    height: 92px;

    line-height: 18px;

    display: flex;


    padding-top: 25px;
    padding-left: 32px;
    padding-right: 12px;
    padding-bottom: 16px;

    margin-bottom: 19px;

    animation: fade 1s forwards;
    transition: padding-left 0.6s cubic-bezier(0.4, 0, 0, 1), opacity 0.5s;
}

.sidebar {
    line-height: 18px;
    height: 100vh;
    width: 244px;
    box-shadow: rgb(250, 250, 250) 0.15px 0 0px;
    animation: side .8s forwards;
}

.sidebar_menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

    line-height: 18px;
}

.profile_pic {
    width: 24px;
    vertical-align: baseline;
    border-radius: 24px;
    
}

.home, .search, .explore, .reels, .messages, .notifications, .create, .profile {
    width: 220px;

    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;

    padding: 1rem;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;

    border-radius: 999px;
    width: 10.90rem;

    text-align: start;
    vertical-align: middle;
    flex-direction: row;

    border-radius: 999px;

    transition: padding-left, padding-top .4s;
    animation: fade .8s forwards;
}

.sidebar_box {

    position: relative;
    line-height: 18px;
}

.icons, .profile_pic {
    vertical-align: middle;
    margin-right: 1rem;
    
}

/* Animação */
.home:hover, .search:hover, .explore:hover, .reels:hover, .messages:hover, .notifications:hover, .create:hover, .profile:hover, span {
    background: linear-gradient(45deg, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    cursor: pointer;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}


@keyframes side { 
    0%{
        width: 0px;
    }
}